.main__card{
    margin-top: 120px;
    .containerXl{
        .main__title{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .main__title-head{
                b{
                    font-size: 48px;
                    font-weight: 700;
                }
                p{
                    font-size: 24px;
                    color: $header-text-color;
                }
            }
            .main__title-btn{
               button{
                    width: 40px;
                    height: 40px;   
                    border-radius: 50%;
                    border: 0;
               }
            }
        }
        .main__card-wrapper{
            display: grid;
            grid-gap: 25px;
            grid-template-columns: repeat(3,1fr);
            margin-top: 50px;
            .card{
                display: flex;
                flex-direction: column;
                gap: 10px;
                border-radius: 24px;
                padding: 8px;
                transition: .5s ease ;
                cursor: pointer;
                &:hover{
                    box-shadow: 0 0 20px #ddd;
                }
                b{
                    font-size: 24px;
                }
                p{
                    color: $header-text-color;
                }
            }
        }
        .show__card-all{
            margin: 50px 0;
            padding: 12px 16px;
            border-radius: 90px;
            border: 0;
            a{
                color: $header-text-color;
            }
        }
    }
}

@media (max-width:1200px) {
    .main__card{
        .containerXl{
            .main__card-wrapper{
                grid-template-columns: repeat(2,1fr);
            }
        }
    }
}

@media (max-width: 800px) {
    .main__card{
        .containerXl{
            .main__card-wrapper{
                grid-gap: 10px;
                grid-template-columns: repeat(2,1fr);
                .card{
                    width: 340px;
                }
            }
        }
    }
}
@media (max-width: 715px) {
    .main__card{
        .containerXl{
            .main__card-wrapper{
                grid-gap: 10px;
                grid-template-columns:1fr;
                .card{
                    width: 450px;
                    margin: 0 auto;
                }
            }
        }
    }
}
@media (max-width: 490px) {
    .main__card{
        .containerXl{
            .main__card-wrapper{
                grid-gap: 10px;
                grid-template-columns:1fr;
                .card{
                    width: 100%;
                }
            }
        }
    }
}
@media (max-width: 390px) {
    .main__card{
        .containerXl{
            .main__card-wrapper{
                grid-gap: 10px;
                grid-template-columns:1fr;
                .card{
                    width: 300px;
                }
            }
        }
    }
}